a {
	text-decoration-line: none;
	color: black;
	}
	

ul {
		list-style:none;
}

li {
		list-style-type: none;
		float:left;
		margin-right: 10px;
	}

	
.no1 {	
		margin-bottom: 10px;
		list-style: none;
		float: left;
     	margin-right: 5px;

	}
	
.no2 {	
		padding-bottom: 30px;
		clear: both;
	}

.no3 {	
		margin-top: 20px;
		clear: both;
		height: 200px;
	
}

.inner_no2{
			float: right;
		  	cursor: pointer;
		  	padding-right: 10px
}
	
