<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js"></script>
</head>
<body>
    <div>            
        <div class="signup-title"><h2><a th:href="@{/project/list}">tumblcat</a>&nbsp;&nbsp;&nbsp;</h2></div>
        <div class="password-form">
            <div class="login-content">
                <div class="header">
                    <div class="title">
                        <h3>비밀번호 찾기</h3>
                    </div>
                </div>
                <div class="content">
                    <form action="#" method="post">
                        <span>이메일주소</span><br>
                        <div >
                            <input type="email" id="email" class="input" onkeyup="email_func()" placeholder="이메일 주소를 입력해주세요"><br>
                        </div>
                        <div id='email_error' class="result"></div>
                        <div></div>
                        <div>
                            <span style="font-size: 11px;">
                            텀블캣 가입 시 
                            사용하신 이메일을 입력하시면 
                            새 비밀번호를 생성할 수 있는 링크를 보내드립니다.
                            </span>
                        </div>
                        <!-- 변경전 <input type="submit" value="비밀번호 설정 링크 받기" onclick="findpassword()"> -->
                        <a th:href="@{/account/findpwd}"><input type="submit" value="비밀번호 설정 링크 받기" onclick="findpassword()"></a>
                    </form>
                    <br>
                </div>
            </div>
            <pre>© 2022 Tumblcat Project.</pre>
        </div>
    </div>
</body>
</html>