<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

<div class="row justify-content-center mt-4">
    <br>
    <div class="col-lg-12">
    	<div class="row">
           <div class="col-md-9 form-group mt-3 mt-md-0">
              <h1 style="font-weight:bold"><div>관심 프로젝트</div></h1><br><br>
              <h4 style="font-weight:bold"><div>좋아한 4</div></h4>
              <hr>
           </div>
        </div>
    </div>
    
    <div class="col-lg-12">
    	<div class="row">
    	
           <div class="col-md-3 form-group mt-3 mt-md-0 center">
              <img src="/img/tumble3.png" width="250" height="250"/>
              <div class="row col-md-12">
              	<h6>주얼리 | BNHR, 보느헤르</h6>
                <h4 style="font-weight:bold"><a th:href="@{detail/1}">당신의 별자리는 무엇인가요? 행운 담은 별자리 반지</a></h4>
                <span>동글동글 작고 귀여운, 복숭아 도자 귀걸이</span>
                <br>
              </div>
              <div class="row col-md-8">
               	<h5 style="display:inline-block">672%  </h5>
                <h6 style="display:inline-block">3,364,000원</h6>
              </div>
              <div class="col-md-4" align="right">
                <h6 style="display:inline-block">5일 남음</h6>
              </div>
              <div class="col-md-11" style="background-color:red"></div>
           </div>
           <div class="col-md-3 form-group mt-3 mt-md-0 center">
              <img src="img/tumble.png" width="250" height="250"/>
              <div class="row col-md-12">
              	<h6>주얼리 | 작-소</h6>
                <h4 style="font-weight:bold">동글동글, 반짝반짝! 복숭아 도자 귀걸이</h4>
                <span>동글동글 작고 귀여운, 복숭아 도자 귀걸이</span>
                <br>
              </div>
              <div class="row col-md-8">
               	<h5 style="display:inline-block">22%</h5>
                <h6 style="display:inline-block">112,150원</h6>
              </div>
              <div class="col-md-4" align="right">
                <h6 style="display:inline-block">8일 남음</h6>
              </div>
              <div class="col-md-11" style="background-color:red"></div>
           </div>
           <div class="col-md-3 form-group mt-3 mt-md-0 center">
              <img src="img/tumble.png" width="250" height="250"/>
              <div class="row col-md-12">
              	<h6>주얼리 | 작-소</h6>
                <h4 style="font-weight:bold">동글동글, 반짝반짝! 복숭아 도자 귀걸이</h4>
                <span>동글동글 작고 귀여운, 복숭아 도자 귀걸이</span>
                <br>
              </div>
              <div class="row col-md-8">
               	<h5 style="display:inline-block">22%</h5>
                <h6 style="display:inline-block">112,150원</h6>
              </div>
              <div class="col-md-4" align="right">
                <h6 style="display:inline-block">8일 남음</h6>
              </div>
              <div class="col-md-11" style="background-color:red"></div>
           </div>
           <div class="col-md-3 form-group mt-3 mt-md-0 center">
              <img src="img/tumble.png" width="250" height="250"/>
              <div class="row col-md-12">
              	<h6>주얼리 | 작-소</h6>
                <h4 style="font-weight:bold">동글동글, 반짝반짝! 복숭아 도자 귀걸이</h4>
                <span>동글동글 작고 귀여운, 복숭아 도자 귀걸이</span>
                <br>
              </div>
              <div class="row col-md-8">
               	<h5 style="display:inline-block">22%</h5>
                <h6 style="display:inline-block">112,150원</h6>
              </div>
              <div class="col-md-4" align="right">
                <h6 style="display:inline-block">8일 남음</h6>
              </div>
              <div class="col-md-11" style="background-color:red"></div>
           </div>
        
    </div>
    <br><hr>
</div>
</div>
</div>
</html>