<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/loginsuccess.css" rel="stylesheet">
</head>
<body class="background">
    <div>
        <div class="loginsuccess-form">
            <div class="loginsuccess-content">
                <h2><a th:href="@{/}">tumblcat</a></h2>
                <div class="header">
                    <div class="title">
                        tumblcat 회원가입을 축하드립니다<br>
                    </div>
                    <div>
                        <b>세상에서 하나뿐인 <br>특별한 프로젝트를 발견해보세요</b>
                    </div>
                </div>
                <div class="content">
                    <form action="#" method="post">
                        <a th:href="@{/account/signin}"><input type="button" value="로그인 하러 가기"></a>
                    </form>
                </div>
                <div class="footer">
                    <span style="margin: 0 0;">아직 텀블캣 계정이 없으신가요?<a th:href="@{/account/signup}">회원가입</a></span><br>
                    <span style="margin: 0 0;">혹시 비밀번호를 잊으셨나요?<a th:href="@{/account/findpwd}">비밀번호재설정</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>