<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1>내가 만든 프로젝트</h1>
    <div class="box">
        프로젝트 이미지: <img src="" alt="">
        <h4>{프로젝트 제목}</h4>
        {프로젝트 소개}
        <div>
            <button class="box box-button">관리</button>
        </div>
        <div>
            <button class="box box-button">삭제</button>
        </div>
        
    </div>

    <div class="box">
        프로젝트 이미지: <img src="" alt="">
        <h4>{프로젝트 제목}</h4>
        {프로젝트 소개}
        <div>
            <button class="box box-button">관리</button>
        </div>
        <div>
            <button class="box box-button">삭제</button>
        </div>
        
    </div>

    <div class="box">
        프로젝트 이미지: <img src="" alt="">
        <h4>{프로젝트 제목}</h4>
        {프로젝트 소개}
        <div>
            <button class="box box-button">관리</button>
        </div>
        <div>
            <button class="box box-button">삭제</button>
        </div>
        
    </div>

    <div class="box">
        프로젝트 이미지: <img src="" alt="">
        <h4>{프로젝트 제목}</h4>
        {프로젝트 소개}
        <div>
            <button class="box box-button">관리</button>
        </div>
        <div>
            <button class="box box-button">삭제</button>
        </div>
        
    </div>
</div>
</html>