<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="notice">
		<ul class="no1">
			<li><b><a href="#">알림</a></b></li>			
		</ul>
		<br>
		<hr>
		<div class="no3">
		<span onclick="this.parentElement.style.display='none'" class="close">X</span>
			<ul>
				<img src="https://source.unsplash.com/random/250x250.png" style="width:100px; height:100px;"/ >
				알림신청하신 와다다곰 인형 프로젝트가 공개 되었습니다. 	
			</ul>
		  </div>
		  <div class="no3">
		  <span onclick="this.parentElement.style.display='none'" class="close">X</span>
			<ul>
				<img src="https://source.unsplash.com/random/250x250.png" style="width:100px; height:100px;"/ >
				알림신청하신 쥬얼리 프로젝트가 종료 되었습니다. 	
			</ul>
		  </div>	
		  <div class="no3">
		  <span onclick="this.parentElement.style.display='none'" class="close">X</span>
			<ul>
				<img src="https://source.unsplash.com/random/250x250.png" style="width:100px; height:100px;"/ >
				알림신청하신 음악 프로젝트가 공개 되었습니다. 	
			</ul>
		  </div>				
</div>
</html>