<html layout:decorate="~{layout}">
	<div layout:fragment="content" id="wrapper">
		<hr>
		
		<!-- main section -->
		<main>
			<div>
				<h1>프로필</h1>
				<div class="line">
					<table>
						<tr>
							<th width="500">프로필 사진</th>
							<td>
								<input type="button" value="변경" class="change">
							</td>
						</tr>
					</table>
					<br>
					<img src="/img/cat.jpg">
				</div>
				<div class="line">
					<table>
						<tr>
							<th width="500">이름</th>
							<td>
								<input type="button" value="변경" class="change">
							</td>
						</tr>
					</table>
					<br>
					<span>김재훈</span>
				</div>
				<div class="line">
					<table>
						<tr>
							<th width="500">소개</th>
							<td>
								<input type="button" value="변경" class="change">
							</td>
						</tr>
					</table>
					<br>
					<span>등록된 소개가 없습니다.</span>
				</div>
			</div>
		</main>
	</div>
</html>