<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js"></script>
</head>
<body>
    <div>            
        <div class="signup-title"><h2><a th:href="@{/project/list}">tumblcat</a>&nbsp;&nbsp;&nbsp;</h2></div>
        <div class="password-form">
            <div class="login-content">
                <div class="header">
                    <div class="title">
                        <h3>비밀번호 재설정</h3>
                    </div>
                </div>
                <div class="content">
                    <form action="#" method="post">
                        <span>변경할 비밀번호</span><br>
                        <div>
                            <input type="password" id="a_pw" class="input" placeholder="변경할 비밀번호"><br>
                            <input type="password" id="a_pwd_check" class="input" onkeyup='pwd_check_func()' placeholder="변경할 비밀번호 확인"><br>
                        </div>
                        <div id="pwd_check_error" class="result"></div>
                        <div></div>
                        <input type="submit" value="비밀번호 재설정" th:onclick="return resetpassword()">
                    </form>
                    <br>
                </div>
            </div>
            <pre>© 2022 Tumblcat Project.</pre>
        </div>
    </div>
</body>
</html>