<html layout:decorate="~{layout}">
<div layout:fragment="content">
<div th:replace="menu :: menuFragment"></div>
		<div class="no2">
		<hr>
			<ul>
				<li>
					<b>배송지추가</b>
				</li>
			</ul>			
		</div>	
		<hr>
		<div class="no3">
			<form action="" namr="frm">
				받는사람<br>
				<input type="text" id="addname"/><br>
				주소<br>
				<input type="text" id="add"/><br>
				휴대폰번호<br> 
				<input type="text" id="addnumber"/><br>
			</form>
			<input type = "submit" name = "submit" value = "등록완료" />	
		  </div>	
	</div>
</html>